body {
  font-weight: 200;
  line-height: 1.4;
  font-family: helvetica;
  color:#444;
}

.container {
  margin: 0 auto;
  width: 1080px;
  background-color:#F0F6F0;
}

.col-50{
  padding:20px;
  display:inline-block;
  width:45%;
  float: left;
}

.col-33{
  display:inline-block;
  width:29%;
  padding:20px;
  float: left;
}

.col-66{
  display:inline-block;
  width:62%;
  padding:20px;
  float: left;
}

.well {
  margin-top:50px;
  text-align:center;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #DBE2DB;
  border: 1px solid #C5CBC5;
  border-radius: 3px;
  box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.41);
}

.small{
  margin: 15px;
  float: left;
  width: 200px;
  height:75px;
}

.well.small.list {
  width:250px;
  height:75px;
}

.small:hover{
  background-color:#C5CBC5;
}

.survey-list{
  text-align: center;
}

.survey-list h1{
  text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

.well.fixed{
  /*position:fixed;*/
}

.edit{
  width:50%;
  margin: 50px auto;
}

#sortable{
  list-style-type: none;
}


 
.top-nav{
  height:70px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(106,183,129,1)), color-stop(100%,rgba(0,63,24,1)));
  border-radius: 5px;
}

.logo img{
  width:110px;
  htight:auto;
  position: relative;
}

.top-nav .login {
  position:relative;
  top:44px;
  right:10px;
  float:right;
}



.top-nav .links ul {
  margin:0;
  margin-left: 60px;
  color:#EAEAEA;
  float:left;
  position:relative;
  bottom:33px;
}

.top-nav .links li {
  margin-right: 40px;
  margin-left: 40px;
}

.survey-of-day h1{
  border-bottom: 1px solid gray;
}

.small-text{
  font-size: 0.85em;
}

.small a{
  text-decoration: none;
  color:#777;
  font-weight: bold;
  font-size: 1.2em;
}

.top-nav .links a, .top-nav .name, .top-nav .login a{
  text-decoration: none;
  color:#eaeaea;
  font-family: Arial;
  font-size: 1.1em;
  font-weight:bold;
}


.top-nav .login a{
  font-weight: normal;
  margin-left: 15px;
}
.top-nav .links li {
  display:inline-block;
}

.welcome p {
  font-size: 1.1em;
}

.sidebar-raptor{
  width:100%;
  height:auto;
  border-radius: 4px;
  box-shadow: 1px 1px 25px rgba(0, 27, 3, 0.87);
}

.signup-container {
  height:600px;
  text-align: center;
  border-right:2px solid gray;  
}

.login-container{
  height:600px;
  text-align: center
}




input, label{
  margin-top: 10px;
}

label{
  float: left;
  text-align: right;
  margin-right:2px;
  width: 100px;
}

.buttons{
  float:left;
  text-align:center;
}

.buttons p {
  font-weight: bold;
  color:#192B19;
}

.signup-text{
  position:relative;
  top:16px;
  right:20px;
  font-size: 26px;
  color:#192B19;
}

.user-info{
  padding:0px;
  text-align: left;
}

.user-info ul{
  padding-left: 0; 
  list-style-type: none;
  float:left;
}

.user-info li {
  margin: 5px auto;
}

.gravatar{
  margin-top: 15px;
  text-align: center;
}

.gravatar img{
  border-radius: 2px;
  box-shadow: 1px 1px 25px rgba(0, 27, 3, 0.87);
}

.attr {
  float: left;
  text-align: right;
  margin-right:2px;
  width: 100px;
}

.user-info form{
  text-align: center;
  margin-bottom: 15px;
}



.btn {
  box-shadow:inset 0px 0px 16px -5px #333b2d;
  background-color:#353d1f;
  border-radius:10px;
  text-indent:1.31px;
  border:1px solid #2a2e24;
  display:inline-block;
  font-family:Arial;
  font-size:15px;
  color:#EAEAEA;
  height:35px;
  line-height:30px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 12px #53574c;
}
.btn:hover {
  background-color:#3d4726;
}
.btn:active {
  position:relative;
  top:1px;
}

.btn.big{
  margin-top: 15px;
  width:200px;
}


.container:before,
.container:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.container:after {
    clear: both;
}


.well:before,
.well:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.well:after {
    clear: both;
}

#login-errors{
  color:red;
}

