<div class="col-66">

<h1>Create A New Survey</h1> 
  
<form id="createsurvey" action="/create_survey" method= "post">
  <p><label for "create_title">Survey Title:</label></p>
  <p><input type="text" name="create_title"></p>
  <p><label for "description">Description:</p>
  <p><input type="text" name="description"></p>
  <div class="col-66">
  <div class="question_and_choices well">
    
    <p><label for "create_question">Question:</label></p>
    <p><input type= "text" name="question[]" id="question"></p>
 
    <p><label for "create_choice" id="create_choice">Choice:</label></p>
    <p><input type= "text" name="question[]choice[]" class="choice"></p>
 
  </div>
  
  <p><input type="submit" value="Submit New Survey"></p>
</form>
 <button type="button" class="question_button" >Add Another Question</button>
 <button type="button" class="choice_button" >Add Another Choice</button>
</div>
