<div class="col-50">
  <div class="well fixed">

    <h1>Create A New Survey</h1> 
    <p><label  for="create_title">Survey Title:</label></p>
    <p><input form="createsurvey" type="text" name="create_title"></p>
    
    <p><label for="description">Description:</label></p>
    <p><input form="createsurvey" type="text" name="description"></p>
    
    <button class="question_button btn big" >Add Another Question</button>
    <button class="btn big" type="submit"  form="createsurvey">Create Survey  </button> 
  </div>
</div>

<div class="col-50">
<form id="createsurvey" action="/create_survey" method= "post">
  <ul id="sortable">
    <li class="ui-state-default">
      <div class="question_and_choices well">
      
        <p><label for "create_question">Question:</label></p>
        <p><input type= "text" name="question[]" id="question"></p>
   
        <p><label for "create_choice" id="create_choice">Choice:</label></p>
        <p><input type= "text" name="question[]choice[]" class="choice"></p>
        <button class="choice_button btn big">Add Another Choice</button>
   
      </div>
    </li>
  </ul>
  
</form>
</div>
