<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/survey.js"></script>
    <script src="/js/sessions.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <div class="top-nav">
      <span class="logo"><img src="velociraptor.png"></span>
      <div class="login">
        <% if authenticated? %>
          <span class="name"><%= current_user.name %></span>
          <a href="/logout">Log Out</a>
        <% else %>
          <a href="/login">Log In</a>
        <% end %>
      </div>
      <nav class="links">
        <ul>
          <li><a href="/">Home</a></li>|
          <li><a href="#">Take Survey</a></li>|
          <li><a href="#">Create Survey</a></li>|
          <li><a href="#">Examples</a></li>
        </ul>
      </nav>
    </div>
    <%= yield %>
  </div>
</body>
</html>
