<div class="container">
	<h1>Welcome <%=@user.first_name%> <%=@user.last_name%></h1>
	<a href="/edit_profile">Edit User Profile</a>
	<br>
	<h3>My Surveys</h3>
	<% @user.created_surveys.each do |survey| %>
	<a href=""><%= survey.description %></a><br><br>
	<%end%>
</div>
