<div class="col-50 signup-container">
  <h3>Sign up</h3>
  <form  class="signup well" action="/signup" method="POST">
    
    <label for="first_name">First Name</label>
    <input id="first_name" type="text" name="user[first_name]">
    <br>
    
    <label for="last_name">Last Name</label>
    <input id="last_name" type="text" name="user[last_name]">
    <br>

    <label for="email">Email</label>
    <input id="email" type="text" name="user[email]">
    <br>

    <label for="password">Password</label>
    <input id="password" type="password" name="user[password]">
    <br>

    <input class="btn"type="submit" value="Sign Up">

  </form>

  <div id="errors">
      
  </div>
</div>
<div class="col-50 login-container">
  <h3>Log in</h3>  

  <form  class="login well" action="/login" method="POST">
  
    <label for="email">Email</label>
    <input  type="email" name="email">
    <br> 

    <label for="password">Password</label>
    <input id="password" type="password" name="password">
    <br>

    <input class="btn"type="submit" value="Log In">
    
  </form>

  <div id="errors">
      
  </div>
  
</div>
