<script type="text/javascript">
   $.get(window.location, function(questions){
      for(i=0; i<questions.length;i++){
        var question = questions[i]
        // console.log(question)
        var div = "<div class='well' id='" + question.id.toString() + "' style='width: 600px; height: 300px;' ></div>"
        $("#charts").append(div);
        drawChart(question);
      }
    });
</script>


<div id="charts">

</div>

<div id="survey_result_table">
  <h2>Or you can view it by table:</h2>

  <%@survey.questions.each do |question|%>
  <table border= "1"> 
    <thead>
      <h4><%=question.description%></h4>
      <tr>
        <th>Choice </th>
        <th># of Responses</th>
        <th>Percentage</th>
        <tr>
        </thead> 
        <tbody> 
          <%question.choices.each do |choice|%>
          <tr align="center"> 
            <td> <%= choice.text %> </td>
            <td> <%= choice.responses.count%> </td>
            <td> <%=choice.percentage.to_i%> % </td>
          </tr>
          <%end%>
        </tbody> 
        <%end%>

      </table>

    </div>
